<div class="profile-container">
    <h1>{{user.username}}'s Profile</h1>

    {{#if user.profile_picture}}
        <img
            class="profile-photo"
            alt="{{user.username}} Profile Photo"
            src="{{user.profile_picture}}">
    {{else}}
        <img
            class="profile-photo"
            alt="No profile photo available for {{user.username}}"
            src="/public/Default_pfp.svg">
    {{/if}}

    <p>Borough: {{user.borough}}</p>

    {{#if self}}
        <div class="profile-actions">
            <a href="/edit-profile" class="button-primary">
                Edit Profile
            </a>
        </div>
    {{else}}
        {{#if blocked}}
            <div class="profile-actions">
                <form method="POST" action="/user/{{user._id}}/unblock" class="inline-form">
                <button type="submit" class="button-primary"
                    onclick="return confirm('Are you sure you want to unblock this user?')">
                    Unblock
                </button>
                </form>
            </div>
        {{else}}
            <div class="profile-actions">
                <form method="POST" action="/user/{{user._id}}/block" class="inline-form">
                <button type="submit" class="button-primary"
                    onclick="return confirm('Are you sure you want to block this user?')">
                    Block
                </button>
                </form>
            </div>
        {{/if}}
    {{/if}}

</div>